In [1]:
# Importing required libraries
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
import pandas as pd

# TOP 10 MEN TEAM RANKINGS

In [2]:
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
r=requests.get(url)
soup=BeautifulSoup(r.content,'html.parser')
team=[]
match=[]
rating=[]
for i in soup.find_all('span',attrs={'u-hide-phablet'}):
    team.append(i.text)
match.append(soup.find('td',attrs={'rankings-block__banner--matches'}).text)
rating.append(soup.find('td',attrs={'rankings-block__banner--points'}).text)
count=0
for i in list(soup.find_all('td',attrs={'table-body__cell u-center-text'}))[:18]:
    if count%2==0:
        match.append(i.text)
    else:
        rating.append(i.text)
    count+=1
df=pd.DataFrame({'Team':team[:10],
                 'Match':match,
                 'Points':rating})
df.to_csv('Top10 ODI Men Teams.csv', index = False)
df

           Team Match Points
0   New Zealand    17  2,054
1       England    32  3,793
2     Australia    25  2,945
3         India    29  3,344
4  South Africa    22  2,267
5      Pakistan    27  2,524
6    Bangladesh    28  2,538
7   West Indies    27  2,222
8     Sri Lanka    26  2,006
9   Afghanistan    17  1,054

# TOP 10 MEN BATSMEN RANKINGS

In [3]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
r=requests.get(url)
soup=BeautifulSoup(r.content,'html.parser')
name=[]
team=[]
point=[]
name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
    name.append(i.text.replace('\n',''))
team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
    team.append(i.text.replace('\n',''))
point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
    point.append(i.text)
df=pd.DataFrame({'Name': name,
                 'Team':team,
                 'points':point})
df.to_csv('Top10 ODI Batsmen.csv', index = False)
df

                  Name       Team points
0           Babar Azam  \n\nPAK\n    873
1          Virat Kohli        IND    857
2         Rohit Sharma        IND    825
3          Ross Taylor         NZ    801
4          Aaron Finch        AUS    791
5       Jonny Bairstow        ENG    775
6         David Warner        AUS    773
7            Shai Hope         WI    773
8  Francois du Plessis         SA    770
9      Kane Williamson         NZ    754

# TOP 10 MEN BOWLER RANKINGS

In [4]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
r=requests.get(url)
soup=BeautifulSoup(r.content,'html.parser')
name=[]
team=[]
point=[]
name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
    name.append(i.text.replace('\n',''))
team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
    team.append(i.text.replace('\n',''))
point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
    point.append(i.text)
df=pd.DataFrame({'Name': name,
                 'Team':team,
                 'points':point})
df.to_csv('Top10 ODI Men Bowlers.csv', index = False)
df

                Name      Team points
0        Trent Boult  \n\nNZ\n    737
1       Mehedi Hasan       BAN    713
2   Mujeeb Ur Rahman       AFG    708
3       Chris Woakes       ENG    700
4         Matt Henry        NZ    691
5     Jasprit Bumrah       IND    690
6     Josh Hazlewood       AUS    660
7      Kagiso Rabada        SA    651
8        Pat Cummins       AUS    646
9  Mustafizur Rahman       BAN    645

# TOP 10 MEN ALLROUNDER RANKINGS

In [5]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/all-rounder"
r=requests.get(url)
soup=BeautifulSoup(r.content,'html.parser')
name=[]
team=[]
point=[]
name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
    name.append(i.text.replace('\n',''))
team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
    team.append(i.text.replace('\n',''))
point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
    point.append(i.text)
df=pd.DataFrame({'Name': name,
                 'Team':team,
                 'points':point})
df.to_csv('Top10 Men ODI allrounders.csv', index = False)
df

                  Name       Team points
0      Shakib Al Hasan  \n\nBAN\n    387
1        Mohammad Nabi        AFG    294
2         Chris Woakes        ENG    282
3          Rashid Khan        AFG    270
4     Mitchell Santner         NZ    268
5           Ben Stokes        ENG    266
6  Colin de Grandhomme         NZ    257
7           Imad Wasim        PAK    256
8      Ravindra Jadeja        IND    245
9        Sean Williams        ZIM    238

# TOP 10 WOMEN TEAM RANKINGS

In [6]:
url ="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
r=requests.get(url)
soup=BeautifulSoup(r.content,'html.parser')
team=[]
match=[]
rating=[]
for i in soup.find_all('span',attrs={'u-hide-phablet'}):
    team.append(i.text)
match.append(soup.find('td',attrs={'rankings-block__banner--matches'}).text)
rating.append(soup.find('td',attrs={'rankings-block__banner--points'}).text)
count=0
for i in list(soup.find_all('td',attrs={'table-body__cell u-center-text'}))[:18]:
    if count%2==0:
        match.append(i.text)
    else:
        rating.append(i.text)
    count+=1
df=pd.DataFrame({'Team':team[:10],
                 'Match':match,
                 'Points':rating})
df.to_csv('Top 10 Women ODI Teams.csv', index = False)
df

           Team Match Points
0     Australia    18  2,955
1       England    20  2,370
2  South Africa    24  2,828
3         India    23  2,535
4   New Zealand    21  1,947
5   West Indies    16  1,406
6      Pakistan    19  1,358
7    Bangladesh     5    306
8     Sri Lanka    11    519
9       Ireland     2     25

# TOP 10 WOMEN BATTING RANKINGS

In [7]:
url ="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
r=requests.get(url)
soup=BeautifulSoup(r.content,'html.parser')
name=[]
team=[]
point=[]
name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
    name.append(i.text.replace('\n',''))
team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
    team.append(i.text.replace('\n',''))
point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
    point.append(i.text)
df=pd.DataFrame({'Name': name,
                 'Team':team,
                 'points':point})
df.to_csv('Top 10 Women ODI Batting.csv', index = False)
df

                Name      Team points
0    Stafanie Taylor  \n\nWI\n    766
1        Mithali Raj       IND    762
2        Lizelle Lee        SA    758
3       Alyssa Healy       AUS    756
4     Tammy Beaumont       ENG    754
5        Meg Lanning       AUS    723
6  Amy Satterthwaite        NZ    715
7     Natalie Sciver       ENG    706
8    Smriti Mandhana       IND    701
9    Laura Wolvaardt        SA    683

# TOP 10 WOMEN BOWLER RANKINGS

In [8]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling"
r=requests.get(url)
soup=BeautifulSoup(r.content,'html.parser')
name=[]
team=[]
point=[]
name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
    name.append(i.text.replace('\n',''))
team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
    team.append(i.text.replace('\n',''))
point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
    point.append(i.text)
df=pd.DataFrame({'Name': name,
                 'Team':team,
                 'points':point})
df.to_csv('Top 10 Women ODI Bowlers.csv', index = False)
df

                Name       Team points
0      Jess Jonassen  \n\nAUS\n    808
1       Megan Schutt        AUS    762
2     Marizanne Kapp         SA    747
3     Shabnim Ismail         SA    717
4     Jhulan Goswami        IND    694
5  Sophie Ecclestone        ENG    668
6    Katherine Brunt        ENG    646
7     Ayabonga Khaka         SA    638
8       Poonam Yadav        IND    617
9       Ellyse Perry        AUS    616

# TOP 10 WOMEN ALLROUNDER RANKINGS

In [9]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
r=requests.get(url)
soup=BeautifulSoup(r.content,'html.parser')
name=[]
team=[]
point=[]
name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
    name.append(i.text.replace('\n',''))
team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
    team.append(i.text.replace('\n',''))
point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
    point.append(i.text)
df=pd.DataFrame({'Name': name,
                 'Team':team,
                 'points':point})
df.to_csv('Top 10 Women ODI Allrounders.csv', index = False)
df

               Name      Team points
0   Stafanie Taylor  \n\nWI\n    435
1    Marizanne Kapp        SA    418
2      Ellyse Perry       AUS    418
3    Natalie Sciver       ENG    365
4     Deepti Sharma       IND    331
5     Jess Jonassen       AUS    307
6  Ashleigh Gardner       AUS    252
7  Dane van Niekerk        SA    243
8     Sophie Devine        NZ    242
9   Katherine Brunt       ENG    239

# INTERNATIONAL FIXTURES

In [10]:
# Opening the Chromedriver
driver = webdriver.Chrome("chromedriver.exe")
import time
time.sleep(5)

In [11]:
# Opening the homepage of bcci website
driver.get("https://www.bcci.tv/")
# Clicking on drop down navigation bar On International
driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()
# Selecting the Fixtures from International
driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a").click()

In [12]:
urls=[]
match_page=driver.find_elements_by_xpath("//div[@class='js-list']/a")
for i in match_page:
    urls.append(i.get_attribute('href'))

In [13]:
Match=[]
Series=[]
Place=[]
Date=[]
Time=[]

for i in urls:#list of urls of match description page
    driver.get(i)
    # Scraping the title by passing xpath
    try:
        match=driver.find_element_by_xpath("//p[@class='mc-header-info__match-description']/span")
        Match.append(match.text)
    except NoSuchElementException:#handling no such element exception
        Match.append('No Match available')
        
     # Scraping the series by passing xpath   
    try:
        series=driver.find_element_by_xpath("//h1[@class='mc-header-info__title']/strong")
        Series.append(series.text)
    except NoSuchElementException:#handling no such element exception
        Series.append("No Series Available")
        
     # Scraping the place by passing xpath   
    try:
        place=driver.find_element_by_xpath("//h1[@class='mc-header-info__title']")
        Place.append(place.text.split()[-1])
    except NoSuchElementException:#handling no such element exception
        Place.append("No Place Available")
        
     #scarping date of match   
    try: 
        date=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/strong")
        Date.append(date.text)
    except NoSuchElementException:#handling no such element exception
        Date.append("No Date Available") 
        
     #scarping time of the match   
    try:
        time=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/span")
        Time.append(time.text)
    except NoSuchElementException:#handling no such element exception
        Time.append("No Time Available")

In [14]:
#Saving all the scraped data into a dataframe named BCCI
BCCI=pd.DataFrame({})
BCCI['Match Title']=Match
BCCI['Series']=Series
BCCI['Place']=Place
BCCI['Date']=Date
BCCI['Time']=Time
# Viewing the Scraped data
BCCI

  Match Title             Series       Place                  Date       Time
0     2ND ODI  Sri Lanka v India     Colombo       Tuesday 20 July  15:00 IST
1     3RD ODI  Sri Lanka v India     Colombo        Friday 23 July  15:00 IST
2    1ST T20I  Sri Lanka v India     Colombo        Sunday 25 July  20:00 IST
3    2ND T20I  Sri Lanka v India     Colombo       Tuesday 27 July  20:00 IST
4    3RD T20I  Sri Lanka v India     Colombo      Thursday 29 July  20:00 IST
5    1ST TEST    England v India  Nottingham    Wednesday 4 August  15:30 IST
6    2ND TEST    England v India      London    Thursday 12 August  15:30 IST
7    3RD TEST    England v India       Leeds   Wednesday 25 August  15:30 IST
8    4TH TEST    England v India      London  Thursday 2 September  15:30 IST
9    5TH TEST    England v India  Manchester   Friday 10 September  15:30 IST

In [15]:
BCCI.to_csv("International Fixture details.csv",index = False)

In [16]:
#Closing the driver
driver.close()